// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// 默认菜单主题风格
:root {
  // --base-menu-background: #ffffff;
  // --base-logo-title-color: #ffffff;
  // --base-topBar-background: #ffffff;
  // --base-topBar-color: #5a5e66;

  --base-text-color-rgba: rgba(0, 0, 0, 0.85);
  --base-sidebar-width: 220px;
  --el-aside-width: 220px;
  --el-header-height: 50px;
  --base-footer-height: 40px;
  --base-tags-height: 34px;
}
/***默认主题颜色配置***/
[data-theme='theme-light'] {
  // 菜单背景
  // --base-menu-background: #ffffff;
  // // logo部分文字颜色
  // --base-logo-title-color: #001529;
  // // 顶部导航栏背景色
  // --base-topBar-background: #ffffff;
}
/***深色主题颜色配置***/
[data-theme='theme-dark'] {
  // --base-menu-background: #304156;
  // --base-logo-title-color: #ffffff;
  // --base-topBar-background: #ffffff;

  // // el-ement ui 设置
  // --el-fill-color-blank: #304156;
  // --el-text-color-primary: #bfcbd9;
}
html.dark {
  /* custom dark bg color */
  // --el-bg-color: #626aef;
  --base-color-white: #ffffff;
  --base-text-color-rgba: #fff;
  --base-menu-background: var(--el-bg-color);
}
html.cafe {
  filter: sepia(0.9) hue-rotate(315deg) brightness(0.9);
}
html.contrast {
  filter: contrast(2);
}
